USE [PavCars]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 06/12/2019 20:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marcas](
	[cod_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[cod_marca] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON
INSERT [dbo].[Marcas] ([cod_marca], [nombre]) VALUES (1, N'Ford')
INSERT [dbo].[Marcas] ([cod_marca], [nombre]) VALUES (2, N'Chevrolet')
INSERT [dbo].[Marcas] ([cod_marca], [nombre]) VALUES (3, N'Peugeot')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
/****** Object:  Table [dbo].[Autos]    Script Date: 06/12/2019 20:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[cod_chasis] [int] NOT NULL,
	[precio] [int] NOT NULL,
	[fecha_llegada] [date] NOT NULL,
	[cod_marca] [int] NOT NULL,
 CONSTRAINT [PK_Autos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Autos] ON
INSERT [dbo].[Autos] ([id], [modelo], [cod_chasis], [precio], [fecha_llegada], [cod_marca]) VALUES (10, N'Ka', 268948, 450000, CAST(0x433F0B00 AS Date), 1)
INSERT [dbo].[Autos] ([id], [modelo], [cod_chasis], [precio], [fecha_llegada], [cod_marca]) VALUES (13, N'RX-8', 655616, 853158, CAST(0xC63F0B00 AS Date), 14)
INSERT [dbo].[Autos] ([id], [modelo], [cod_chasis], [precio], [fecha_llegada], [cod_marca]) VALUES (16, N'370Z', 738379, 1200000, CAST(0xC63F0B00 AS Date), 4)
SET IDENTITY_INSERT [dbo].[Autos] OFF
/****** Object:  ForeignKey [FK_Autos_Marcas]    Script Date: 06/12/2019 20:00:53 ******/
ALTER TABLE [dbo].[Autos]  WITH CHECK ADD  CONSTRAINT [FK_Autos_Marcas] FOREIGN KEY([cod_marca])
REFERENCES [dbo].[Marcas] ([cod_marca])
GO
ALTER TABLE [dbo].[Autos] CHECK CONSTRAINT [FK_Autos_Marcas]
GO
