<!DOCTYPE html>
<html ng-app="miApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js/archivo.js"></script>
    <style>
        input.ng-invalid{
            background-color: red
        }
        
    </style>
</head>
<body>
    <div ng-controller="myCtrl">
        <h1>Listado de paises</h1>
        <button ng-click="cargarPaises()" ng-show="mostrar == true">cargar paises</button>

        <table>
                <thead>
                    <tr>
                        <td>Nombre del pais</td>
                        <td>Region o continente</td>
                        <td>capital</td>
                        <td>poblacion</td>
                        <td>monedas</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pais in paises">
                        <td>{{pais.name}}</td>
                        <td>{{pais.region}}</td>
                        <td>{{pais.capital}}</td>
                        <td><button ng-click="poblacion(pais)" ng-show="pais.population != undefinied">VerPoblacion</button></td>
                        <td>
                            <table>
                                <tr ng-repeat="moneda in pais.currencies">
                                    <td>{{moneda.code}}</td>
                                    <td>{{moneda.name}}</td>
                                    <td>{{moneda.symbol}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total paises: {{paises.length}}</td>
                    </tr>
                </tfoot>
            </table>
        <form name="frmPais" novalidate="novalidate">
            <label>Pais</label>
            <input type="text" ng-model="paisName" name="paisName" required ng-minlength="3" ng-maxlength="100"/>
            <label>Region</label>
            <input type="text" ng-model="paisRegion" name="paisRegion" required ng-minlength="3" ng-maxlength="100" />
            <label ng-show="frmPais.$invalid && frmPais.$dirty">Ingresa bien la puta que te pario</label> 
            <br />
            <button ng-click="guardar();" ng-disabled="frmPais.$invalid">Guardar</button>
        </form>
</div>
</body>
</html>
 