<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <title>PAVCars</title>
    <script src="js/angular.min.js"></script>
</head>
<body style="background-color:lightgray">
    <div ng-controller="myCtrl">
        <div class="container">
            <div>
                <div class="jumbotron mb-3" style="background:#fff; padding: 2rem; margin-bottom: 0rem">
                    <div class="row">
                        <img class="col-md-6" src="img/generatedtext.png" />
                        <div class="col-md-6 text-right d-none d-md-block">
                            <img src="img/car.png" height="150" width="300" />
                        </div>
                    </div>
                </div>
                <form name="frmCarga" class="row justify-content-center" ng-show="mostrar != 'L'" novalidate="novalidate">
                    <h1 ng-show="mostrar == 'M'" class="col-sm-12 mb-md-5">Modificación de Autos</h1>
                    <h1 ng-show="mostrar == 'A'" class="col-sm-12 mb-md-5">Alta de Autos</h1>
                    <div class="row col-md-12 mb-md-4">
                        <div class="row col-sm-6 col-md">
                            <label class="col-md text-md-right">Ingrese el modelo: </label>
                            <input ng-model="auto.modelo" class="col-sm-8 col-md" type="text" placeholder="Ingrese el modelo" required ng-maxlength="50" />
                        </div>
                        <div class="row col-sm-6 col-md">
                            <label class="col-md text-md-right">Ingrese la Marca: </label>
                            <select ng-model="auto.cod_marca" class="col-sm-9 col-md" required>
                                <option ng-repeat="marca in marcas" value="{{marca.cod_marca}}" ng-selected="marca.cod_marca == auto.cod_marca">{{marca.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mb-md-4">
                            <div class="row col-md">
                                <label class="col-md text-md-right">Ingrese el nro de chasis:</label>
                                <input id="codchasis" required ng-model="auto.cod_chasis" class="col-md" type="number" placeholder="Ingrese el codigo de chasis" min="0" max="2147483647"/>
                            </div>
                            <div class="row col-md">
                                <label class="col-md text-md-right">Ingrese el precio de venta:</label>
                                <input id="precio" required ng-model="auto.precio" class="col-md" type="number" placeholder="Ingrese el precio" min="0" max="2147483647"/>
                            </div>
                        </div>
                    <div class="row col-md-12 mb-md-4  mb-5">
                        <div class="row col-md">
                                <label class="col-md text-md-right">Ingrese la fecha de llegada:</label>
                                <input required ng-model="auto.fecha_llegada" class="col-md" type="date" />
                        </div>
                        <div class="col-md-6 text-center" style="padding: 0.5rem">
                            <button ng-click="cargar()" class="col-md-5 btn btn-primary" type="button">Cargar Auto</button>
                        </div>
                    </div>
                    <div class="row col-12">
                        <button class="col-md-6 btn btn-primary offset-md-3" ng-click="mostrar = 'L'">Listado</button>
                    </div>
                </form>
                <div id="listado" ng-show="mostrar == 'L'">
                    <div class="row mb-3">
                        <h1 class="col-6">Listado</h1>
                        <button class="col-6 btn btn-primary" ng-click="mostrar= 'A'">Agregar Autos</button>
                    </div>
                    <div class="row mb-3">
                        <label for="inc" class="col-sm-2">Busqueda Incremental</label>
                        <input name="inc" class="col-sm-10" type="text" placeholder="Ingrese un modelo a buscar" ng-model="incremental" maxlength="50" ng-change="BIncremental()"/>
                    </div>
                    <div class="table-sm table-responsive" style="max-height:350px ; overflow:auto ; display: inline-block">
                        <table class="col table table-dark table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <td hidden scope="col">ID</td>
                                    <td scope="col">Modelo</td>
                                    <td scope="col">Marca</td>
                                    <td scope="col">Nro de Chasis</td>
                                    <td scope="col">Precio</td>
                                    <td scope="col">Fecha de Llegada</td>
                                    <td scope="col">Acciones</td>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="auto in autos">
                                    <td hidden>{{auto.id}}</td>
                                    <td>{{auto.modelo}}</td>
                                    <td>{{marcas[(auto.cod_marca)-1].nombre}}</td>
                                    <td>{{auto.cod_chasis}}</td>
                                    <td ng-bind="auto.precio | currency"></td>
                                    <td ng-bind="auto.fecha_llegada | date: 'dd/MM/yyyy'"></td>
                                    <td>
                                        <button ng-click="llenarForm(auto)" class="btn btn-primary" type="button">Modificar Auto</button>
                                        <button ng-click="eliminar(auto)" class="btn btn-danger" type="button">Eliminar Auto</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" align="center">Total autos: {{autos.length}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <footer class="row col-xs-12 justify-content-center align-content-end">Picone Lucas - 73280</footer>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
</body>
</html>